<%= simple_form_for(User.new, url: sessions_path, html: { class: 'form-horizontal'}) do |f| %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.submit %>
  <%= link_to 'New User', new_signup_path %>
<% end %>
