<%= simple_form_for(@new_user, url: signup_index_path, html: {class: 'form-horizontal'}) do |f| %>
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <%= f.submit %>
<% end %>
