<h2>Reserva de Sala</h2>
<table class='table'>
  <thead>
  <tr>
  <th>Horário</th>
  <% this_week_days.each do |day| %>
    <th><%= day.strftime("%A") %> </th>
    <% end %>
  </tr>
  </thead>

  <tbody>
    <% (6..23).each do |t| %>
    <tr>
      <td><%= t %></td>
      <% this_week_days.each do |day| %>
         <td> <%= @enrollments_presenter.render_link_for(day,t) %>  </td>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
